* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 1350px) {
        padding: 0 16px;
    }
}
a {
    text-decoration: none;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h1,
h3 {
    margin: 0;
    padding: 0;
}

$bg1: linear-gradient(107.3deg, #5E56FF 0%, #55AAFF 100%);
$bg2: #E3EEFF;
$bg3: #EEF5FF;

$basic1: #5696FF;
$basic2: #62CF86;
$basic3: #59C67D;
$basic4: #C1D0E6;
$basic5: #ACBFDC;
$basic6: #FFFFFF;

$text1: #020940;
$text2: #343A67;
$text3: #5F648C;
$text4: #808CAD;
$text5: #8BA0C9;
$text6: #FFFFFF;
@media (max-width: 1350px) {
    }

// Form
form {
    .input__field {
        position: relative;
        .input {
            width: 100%;
            background: $basic6;
            box-shadow: 0 7px 50px rgba(61, 70, 83, 0.3);
            border-radius: 10px;
            padding: 23px 20px;
            border: none;
            outline: none;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $text1;
            @media (max-width: 374px) {
                padding: 15px 10px;
                font-size: 14px;
            }
            &::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: $text5;
                @media (max-width: 375px) {
                    font-size: 14px;
                }
            }
        }
        .form__btn {
            position: absolute;
            right: 5px;
            top: 5px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: $text6;
            background: $basic2;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 20px 16px;
            border-radius: 7px;
            @media (max-width: 374px) {
                padding: 10px 5px;
                top: 8px;
                font-size: 12px;
            }
            &:hover {
                background: $basic3;
                transition: 0.3s all ease;
            }
        }
    }
    .form__subtext {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 39px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #93621A;
        text-align: center;
        display: block;
        margin-top: 18px;
        @media (max-width: 992px) {
            display: none;
        }
    }
}
// Header
header {
    .form__wrapper {
        max-width: 600px;
        background: linear-gradient(135deg, #FBA24E 0%, #FEE291 100%);
        border-radius: 19px;
        padding: 25px;
        margin-top: 30px;
        &.desctop__form {
            @media (max-width: 992px) {
                display: none;

            }
        }
        &.mobile__form {
            display: none;
            margin-top: -75px;
            @media (max-width: 992px) {
                display: flex;
                form {
                    width: 100%;
                }
            }
        }
        @media (max-width: 992px) {
            background: transparent;
            max-width: 100%;
            padding: 0;
        }
    }
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.04em;
    color: $basic6;
    background: $bg1;
    padding-bottom: 80px;
    @media (max-width: 768px) {
        padding-bottom: 50px;
    }
    .navbar {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            padding: 15px 0;
        }
        .logo {
            color: $text6;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 45px;
            letter-spacing: -0.04em;
            @media (max-width: 768px) {
                font-size: 26px;
                line-height: 39px;
            }
        }
        .nav__btn {
            color: $text6;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            padding: 18px 30px;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 10px;
            @media (max-width: 768px) {
                padding: 13px 20px;
            }
            &:hover {
                color: $basic1;
                background: $text6;
                transition: 0.3s all ease;
            }
        }
    }
    .header {
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
        &__item {
            @media (max-width: 992px) {
                max-width: 100%;
                width: 100%;
            }
            &.image__item {
                padding-top: 70px;
                @media (max-width: 992px) {
                    padding-top: 25px;
                    justify-content: center;
                    display: flex;
                }
                @media (max-width: 500px) {
                    img {
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .title {
                color: $text6;
                font-style: normal;
                font-weight: 600;
                font-size: 80px;
                line-height: 85px;
                letter-spacing: -0.04em;
                max-width: 689px;
                @media (max-width: 1250px) {
                    font-size: 70px;
                    line-height: 75px;
                }
                @media (max-width: 992px) {
                    max-width: 100%;
                }
                @media (max-width: 768px) {
                    font-size: 45px;
                    line-height: 50px;
                }
                @media (max-width: 500px) {
                    line-height: 45px;
                    font-size: 38px;
                }
                @media (max-width: 374px) {
                    line-height: 1;
                    font-size: 22px;
                    margin: 10px 0;
                }
            }
            .header__list {
                margin-top: 21px;
                @media (max-width: 500px) {
                    margin-top: 8px;
                }
                &-item {
                    position: relative;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 42px;
                    color: $text6;
                    padding-left: 42px;
                    margin-top: 4px;
                    @media (max-width: 500px) {
                        line-height: 20px;
                        font-size: 13px;
                        margin-top: 12px;
                    }
                    @media (max-width: 374px) {
                        margin-top: 5px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 5px;
                        width: 26px;
                        height: 26px;
                        background: url('../img/list__icon.svg');
                        @media (max-width: 500px) {
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            top: 0;
                        }
                    }
                }
            }

        }
    }
    .header__info {
        display: flex;
        justify-content: space-between;
        margin-top: 98px;
        @media (max-width: 768px) {
            display: none;
        }
        &-item {
            display: flex;
            align-items: center;
            &.left__item {
                justify-content: space-between;
                display: flex;
                max-width: 812px;
                width: 100%;
            }
            .info__item {
                display: flex;
                align-items: center;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                color: $text6;
                img {
                    margin-right: 20px;
                }
                &:nth-child(1) {
                    max-width: 175px;
                    width: 100%;
                }
                &:nth-child(2) {
                    max-width: 205px;
                    width: 100%;
                }
                &:nth-child(3) {
                    max-width: 242px;
                    width: 100%;
                }
            }

            .info__text {
                max-width: 202px;
                width: 100%;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                text-align: right;
                color: $text6;
            }
        }
    }
}

// Section Info
.section__info {
    padding: 80px 0;
    @media (max-width: 768px) {
        padding: 0;
    }
    .info {
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
        .item__title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.04em;
            max-width: 273px;
            width: 100%;
            color: $text2;
            @media (max-width: 500px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__item {
            flex: 0 0 50%;
            padding: 20px 50px;
            @media (max-width: 768px) {
                flex: 0 0 100%;
                padding: 40px 0;
            }
            &.left__item {
                border-right: 2px solid #EBEFF5;
                @media (max-width: 768px) {
                    border-right: none;
                    border-bottom: 2px solid #EBEFF5;
                }
            }
            .info__blocks {
                display: flex;
                justify-content: space-between;
                @media (max-width: 1100px) {
                    flex-wrap: wrap;
                }
                .info__block {
                    margin-top: 38px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    @media (max-width: 1100px) {
                        flex: 0 0 100%;
                        display: flex;
                        align-items: center;
                    }
                    @media (max-width: 500px) {
                        margin-top: 20px;
                        span {
                            border-top: 1px solid rgba(235, 239, 245, 0.7);
                            border-bottom: 1px solid rgba(235, 239, 245, 0.7);
                            display: block;
                            padding: 25px 0;
                            width: 100%;
                        }
                    }
                    color: $text3;
                    letter-spacing: -0.04em;
                    &-img {
                        width: 100px;
                        height: 100px;
                        border-radius: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
                        @media (max-width: 1100px) {
                            margin-bottom: 0;
                            margin-right: 20px;
                        }
                        @media (max-width: 500px) {
                            width: 50px;
                            height: 50px;
                            border-radius: 12px;
                            flex-shrink: 0;
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        &.block1 {
                            background: linear-gradient(107.3deg, #5E56FF 0%, #55AAFF 100%);
                            box-shadow: 0 5px 30px rgba(89, 128, 255, 0.25);
                        }
                        &.block2 {
                            background: linear-gradient(135deg, #8653FF 0%, #C84EFF 100%);
                            box-shadow: 0 5px 30px rgba(134, 83, 255, 0.25);
                        }
                        &.block3 {
                            background: linear-gradient(135deg, #FB5967 0%, #F9AF7C 100%);
                            box-shadow: 0 5px 30px rgba(251, 89, 103, 0.25);
                        }
                        &.block4 {
                            background: linear-gradient(135deg, #62C993 0%, #C5EF7F 100%);
                            box-shadow: 0 5px 30px rgba(98, 201, 147, 0.25);
                        }
                        &.block5 {
                            background: linear-gradient(135deg, #FBA24E 0%, #FEE291 100%);
                            box-shadow: 0 5px 30px rgba(251, 162, 78, 0.25);
                        }
                        &.block6 {
                            background: linear-gradient(135deg, #DB2DA7 0%, #F483AA 100%);
                            box-shadow: 0 5px 30px rgba(219, 45, 167, 0.25);
                        }
                    }
                }
            }
        }
    }
}

// Sections About
.section__about {
    background: $bg3;
    @media (max-width: 992px) {
        padding: 50px 0;
    }
    &.about__first {
        padding: 250px 0 180px;
        @media (max-width: 992px) {
            padding: 50px 0;
        }
        .about__item-img {
            background: linear-gradient(135deg, #5E56FF 0%, #55AAFF 100%);
            box-shadow: 0 5px 30px rgba(89, 128, 255, 0.25);
        }
    }
    &.about__second {
        padding: 240px 0 210px;
        background: $bg2;
        @media (max-width: 992px) {
            padding: 0 0 50px;
        }
        .about__item-img {
            background: linear-gradient(135deg, #8653FF 0%, #C84EFF 100%);
            box-shadow: 0 5px 30px rgba(134, 83, 255, 0.25);
        }
    }
    &.about__third {
        padding: 240px 0 210px;
        @media (max-width: 992px) {
            padding: 0 0 50px;
        }
        .about__item-img {
            background: linear-gradient(135deg, #FB5967 0%, #F9AF7C 100%);
            box-shadow: 0 5px 30px rgba(251, 89, 103, 0.25);
        }
    }
    &.about__fourth {
        padding: 240px 0 210px;
        background: $bg2;
        @media (max-width: 992px) {
            padding: 0 0 50px;
        }
        .about__item-img {
            background: linear-gradient(135deg, #62C993 0%, #C5EF7F 100%);
            box-shadow: 0 5px 30px rgba(98, 201, 147, 0.25);
        }
    }
    &.about__fifth {
        padding: 90px 0 50px;
        @media (max-width: 992px) {
            padding: 0 0 50px;
        }
        .about__item-img {
            background: linear-gradient(135deg, #FBA24E 0%, #FEE291 100%);
            box-shadow: 0 5px 30px rgba(251, 162, 78, 0.25);
        }
    }
    &.about__sixth {
        padding: 150px 0 20px;
        background: $bg2;
        @media (max-width: 992px) {
            padding: 50px 0;
        }
        .about__item-img {
            background: linear-gradient(135deg, #DB2DA7 0%, #F483AA 100%);
            box-shadow: 0 5px 30px rgba(219, 45, 167, 0.25);
        }
    }
    .about {
        display: flex;
        &.about__even {
            flex-wrap: wrap-reverse;
        }
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
        &__item {
            @media (max-width: 992px) {
                flex: 0 0 100%;
            }
            &.image__item {
                @media (max-width: 1500px) {
                    img {
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            flex: 0 0 50%;
            &-img {
                width: 80px;
                height: 80px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 992px) {
                    display: none;
                }
                img {
                    width: 40px;
                    height: auto;
                }
            }
            .about__title {
                margin-top: 60px;
                font-style: normal;
                font-weight: 500;
                font-size: 55px;
                line-height: 70px;
                letter-spacing: -0.04em;
                color: $text1;
                @media (max-width: 1500px) {
                    font-size: 45px;
                    line-height: 50px;
                    margin-top: 35px;
                }
                @media (max-width: 992px) {
                    font-size: 35px;
                    line-height: 40px;
                    margin-top: 15px;
                }
                @media (max-width: 500px) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            .about__text {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 34px;
                color: $text2;
                margin-top: 30px;
                @media (max-width: 1500px) {
                    margin-top: 15px;
                }
                @media (max-width: 500px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            .about__btn {
                display: flex;
                width: 190px;
                height: 61px;
                background: $basic6;
                box-shadow: 0 10px 25px rgba(148, 174, 213, 0.15);
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                margin-top: 60px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: $basic1;
                @media (max-width: 1500px) {
                    margin-top: 35px;
                }
                @media (max-width: 500px) {
                    width: 136px;
                    height: 44px;
                    font-size: 13px;
                    line-height: 19px;
                    margin-top: 20px;
                }
                &:hover {
                    background: $basic1;
                    color: $text6;
                    transition: 0.3s all ease;
                    .svg {
                        fill: $text6;
                        transition: 0.3s all ease;
                    }
                }
                svg {
                    margin-left: 19px;
                    @media (max-width: 500px) {
                        width: 15px;
                    }
                }
            }
        }
    }
}

// Footer
footer {
    background: $bg3;
    padding: 170px 0 80px;
    @media (max-width: 992px) {
        padding: 50px 0;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer__form {
            background: $bg1;
            padding: 80px 155px;
            border-radius: 50px;
            @media (max-width: 992px) {
                padding: 50px 16px;
            }
            .form__title {
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 70px;
                text-align: center;
                letter-spacing: -0.04em;
                color: $text6;
                margin-bottom: 40px;
                @media (max-width: 1200px) {
                    font-size: 45px;
                    line-height: 50px;
                }
                @media (max-width: 768px) {
                    font-size: 30px;
                    line-height: 35px;
                    margin-bottom: 0;
                }
                @media (max-width: 374px) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            .form__text {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    text-align: center;
                    color: $text6;
                    margin: 10px 0 30px;
                }
            }
        }
        .footer__social {
            margin-top: 100px;
            display: flex;
            @media (max-width: 500px) {
                margin-top: 40px;
                justify-content: space-between;
                width: 100%;
            }
            &-item {
                margin: 0 20px;
                @media (max-width: 500px) {
                    margin: 0;
                    flex: 0 0 20%;
                    display: flex;
                    justify-content: center;
                }
                &:hover {
                    .footer__svg {
                        fill: $basic5;
                        transition: 0.3s all ease;
                    }
                }
            }
        }
        .footer__help {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $text4;
            margin: 40px 0 30px;
            @media (max-width: 500px) {
                display: none;
            }
        }
        .footer__list {
            display: flex;
            @media (max-width: 500px) {
                margin-top: 30px;
            }
            &-item {
                margin: 0 20px;
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                &:last-child {
                    @media (max-width: 500px) {
                        display: none;
                    }
                }
                color: $text4;
                a {
                    color: $basic1;
                    @media (max-width: 500px) {
                        color: $text4;
                    }
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.modal__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(39, 40, 47, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fade 1s ease;
    .modal {
        background: $bg1;
        padding: 60px 60px 30px 60px;
        border-radius: 40px;
        max-width: 700px;
        width: 100%;
        position: relative;
        @media (max-width: 768px) {
            padding: 20px;
        }
        .modal__img {
            position: absolute;
            right: -20px;
            top: 0px;
            @media (max-width: 768px) {
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                max-width: 120px;
                width: 100%;
                height: auto;
            }
        }
        .modal__title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.04em;
            color: $text6;
            max-width: 373px;
            width: 100%;
            @media (max-width: 768px) {
                max-width: 100%;
                margin-top: 65px;
                font-size: 18px;
                line-height: 27px;
            }
        }
        .modal__subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: $text6;
            max-width: 435px;
            width: 100%;
            margin: 35px 0;
            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
        .modal__close {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: $text6;
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            position: relative;
            display: flex;
            width: 80px;
            margin: 0 auto;
            justify-content: center;
            margin-top: 20px;
            &::after {
                content: '';
                position: absolute;
                width: 0px;
                height: 1px;
                background: $basic6;
                left: 0;
                bottom: -5px;
            }
            &:hover {
                &:after {
                    width: 80px;
                    transition: .3s all ease;
                }
            }
        }
    }
}